$custom-color-primary: #3478fd;
$custom-color-success: #1ec169;
$custom-color-warning: #ff9000;
$custom-color-danger: #f41d59;
$custom-color-info: #9babbb;
$custom-color-error: #f00; // 红色提示颜色，例如：表单校验失败提示
$custom-hover-primary: #0066ff;

// 字体颜色
$custom-text-color: #333;
$custom-title-color: #111;
$custom-text-color-grey: #999;
$custom-text-color-placeholder: #999;

// 背景色
$custom-bg-color: #f3f6fa;
$custom-bg-write: #fff;

// 字体大小
$custom-font-size-xs: 12px;
$custom-font-size-sm: 14px;
$custom-font-size-md: 16px;
$custom-font-size-lg: 18px;

// 字体粗细
$custom-font-weight-xs: 100;
$custom-font-weight-md: 400;
$custom-font-weight-lg: 500;
$custom-font-weight-xl: bold;

// 字体
$custom-font-family: 'PingFang SC', 'Microsoft YaHei', Arial, sans-serif;

// 行高
$custom-line-height-xs: 1.1;
